@model AMMiniProject.Models.IndexViewModel;
@{ ViewData["Title"] = "Verify";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

@Html.AntiForgeryToken()

<div class="main-content has-widget" id="main-content">
    <section class="page-heading">
        <div class="container">
            <h1>Verify E-Certificate</h1>
        </div>
    </section>
    <table>
        <thead>
            <tr>
                <th>
                    <p>External System ID</p>
                </th>
                <th>
                    <p>No Ijazah</p>
                </th>
                <th>
                    <p>Name</p>
                </th>
                <th>
                    <p>Tanggal Lahir</p>
                </th>
                <th>
                    <p>Tanggal Lulus</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.alumniDTO.Count(); i++)
            {
                var obj = Model.alumniDTO[i];
<tr>
    <td>
        <p>@obj.AdminData.ExternalSystemId</p>
    </td>
    <td>
        <p>@obj.AdminData.NoIjazah</p>
    </td>
    <td>
        <p>@obj.AdminData.Name</p>
    </td>
    <td>
        <p>@obj.AdminData.TanggalLahir</p>
    </td>
    <td>
        <p>@obj.AdminData.TanggalLulus</p>
    </td>
</tr>
}
        </tbody>
    </table>

    <div class="container">
        <div class="box-container">
            <div class="single-content popup-content" id="target-id">
                <span class="alert is-warning" style="text-align: center;">
                    Silahkan masukkan data e-certificate yang ingin diverifikasi.
                </span>
                <form asp-action="Verify">

                    <p>
                        @Html.LabelFor(model => model.ExternalSystemId, htmlAttributes: new { @class = "required" })
                        @Html.EditorFor(model => model.ExternalSystemId, new { htmlAttributes = new { @name = "input[]", @type = "text" } })
                        @*<label>NIM<span class="required">*</span></label>*@
                        @*<input asp-for="alumniDTO" type="text" name="input[]">*@
                    </p>
                    <p>
                        @Html.LabelFor(model => model.NoIjazah, htmlAttributes: new { @class = "required" })
                        @Html.EditorFor(model => model.NoIjazah, new { htmlAttributes = new { @name = "input[]", @type = "text" } })
                        @*<label>No. Ijazah<span class="required">*</span></label>
                            <input type="text" name="input[]">*@
                    </p>
                    <p>
                        @Html.LabelFor(model => model.TanggalLhr, htmlAttributes: new { @class = "required" })
                        @*<label>Tanggal Lahir<span class="required">*</span></label>*@
                        <span class="custom-datepicker">
                            @Html.EditorFor(model => model.TanggalLhr, new { htmlAttributes = new { @name = "input[]", @type = "text", @class = "datepicker" } })
                            @*<input type="text" name="input[]" class="datepicker">*@
                            <span class="icon-area"></span>
                        </span>
                    </p>
                    <p>
                        @Html.LabelFor(model => model.TanggalLls, htmlAttributes: new { @class = "required" })
                        @*<label>Tanggal Lulus<span class="required">*</span></label>*@
                        <span class="custom-datepicker">
                            @Html.EditorFor(model => model.TanggalLls, new { htmlAttributes = new { @name = "input[]", @type = "text", @class = "datepicker" } })
                            @*<input type="text" name="input[]" class="datepicker">*@
                            <span class="icon-area"></span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <input type="submit" name="action[]" value="Verify" class="button button-primary">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
